%h2 New blockchain

= form_for @blockchain do |f|
  - if @blockchain.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blockchain.errors.count, "error")} prohibited this blockchain from being saved:"
      %ul
        - @blockchain.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'

= link_to 'Back', blockchains_path
